@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

body{
  font-family: "Poppins", sans-serif;
  background-color: white;
}

.container{
  max-width: 100%;
  margin: auto;
}

.flex{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;

}
a{
  text-decoration: none;
  color: #005aa7;
  text-transform: capitalize;
}

ul{
  list-style-type: none;
  
}

button{
 border-radius: 5px;
 padding: 10px 20px;
 background-color: rgb(105, 98, 203);
 border: none;
 color: rgb(30, 3, 109);
 cursor: pointer;
 font-weight: bold;
}

@media (max-width: 768px) {
  .flex {
    flex-direction: column;
    align-items: center; 
  }

  .container {
    padding: 0 10px;
    max-width: 80%;
  }

  button {
    width: 100%;
    padding: 12px; 
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  button {
    padding: 10px; 
  }
}